.contact-form{
    margin-top: 2rem;
    max-width: 500px;
    border-radius: 2px;
    padding: 20px;

    ul{
        list-style: none;
        padding: 0;
        margin: 0;

        li{
            display: block;
            padding: 5px;
            border: 1px solid #ddd;
            border-radius: 3px;
            margin-bottom: 1.5rem;          
        }
    }
}

.contact-form li>label{
    display: block;
    float: left;
    margin-top: -13px;
    margin-left: 2px;
    padding: 2px 5px 5px 2px;
    overflow: hidden;
    font-size: 12px;
    font-weight: 300;
    background: $color-graphite;
}
input[type="text"], textarea{
    padding-left: 1rem;
    background: $color-graphite;
    width: 90%;
    display: block;
    outline: 0;
    border: 0;
    height: 25px;
    line-height: 25px;
    font-family: 'Montserrat', sans-serif;
    font-size: 10pt;
    color: $color-grey;
}

textarea{
    min-height: 200px;
    font-size: 10pt;
    font-family: 'Montserrat', sans-serif;
    color: $color-grey;
    resize: none;
}