.post{
    ul{
        padding: 0; 
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 40px;
        list-style: none;
        li{
            justify-self: center;
        }
    }
    p{
        display: block;
        font-size: 10pt;
        font-weight: 400;
        margin: 0;
    }
}

.post-item{
    position: relative;
    margin: 0;
    padding: 0;
    .post-title{
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(237,237,237,0);
        height: 100%;
        width: 100%;
        opacity: 1;
        position: absolute;
        font-size: 35px;
        font-weight: 600;
        -webkit-transition: 1s ease-out;
        transition: 0.2s ease-in;
        .title{
            -webkit-transition: all 1s;
            transition: all 0.2s;
            top: 0px;
            opacity: 0;
            width: 90%;
            display: flex;
            justify-content: left;
            flex-direction: column;
        }
        .yellow-stripe{
            width: 50%;
            background: $color-yellow;
        }
    }
}
.post-item:hover{
    .post-title{
        background: rgba(237,237,237,0.7);
        .title{
            opacity: 1;
        }
    }
}