$color-grey: #EDEDED;
$color-yellow: #F6DC30;
$color-lightgraphite: rgb(100, 100, 104);
$color-graphite: #2B2B2B;
$color-darkgraphite: rgb(29, 29, 29);
$color-darkgrey: #E6E6E6;
@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,600,800);
@import 'hamburger';
@import 'post';
@import 'contactForm';

body{
    background-color: $color-grey;
    color: $color-graphite;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    margin: 0;
}

h1{
    margin: 0;
    font-size: 4rem;
    font-weight: 600;
}
h2{
    margin: 0;
    font-size: 4rem;
    font-weight: 400;
}
p{
    margin: 1rem, 0,0 ,0;
    font-weight: 300;
    max-width: 50rem;
}

a{
    color: #2B2B2B;
    text-decoration: none;
    // 
    font-weight: 600;
}
a:hover{
    font-weight: 800;
    transition: 0.2s;
}

.submit-btn{
    background: $color-yellow;
    border: 0;
    padding: 1rem 2rem 1rem 2rem;
    font-weight: 600;
}

.container{
    display: grid;
    grid-template-areas: 
    ". nav   ."
    ". intro ."
    ". portfolio .";
    grid-template-columns: 5% 1fr 5%;

}

#logotype{
    font-weight: 400;
    display: inline;
    position: relative;
    z-index: 1;
    font-size: 12px;
    background:$color-graphite;
    color:$color-grey;
    padding: 0.3rem 0.8rem 0.3rem 0.8rem; 
}

nav{
    grid-area: nav;
    margin-top: 1rem;
    height: auto;

    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    li{
        padding-right: 2rem;
        display: inline;
    }
    
    #nav-menu-items{
        display: block;
        margin: 0;
        position: relative;
        font-size: 12px;
    }

    .nav-menu{
        float: right; 
    }
}

.social-group{
    display: inline;
    margin: 0;
    a{
        margin-right: 0.5rem; 
    }
    img{
        width: 1rem;
    }
}

.text-section{
    grid-column-start: 2;
}

#intro{
    grid-area: intro;
    display: grid;
    grid-template-columns: 5% 1fr 5%;
    min-height: 100vh;
    height: 100%;
    .text-section{
        margin-top: 10rem;
    }
}

#portfolio{
    grid-area: portfolio;
    display: grid;
    grid-template-columns: 5% 1fr 5%;
    min-height: 100vh;
    height: 100%;
    margin-bottom: 10rem;
}

#contact{
    display: grid;
    grid-row: 4;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-template-columns: 5% 1fr 5%;
    // min-height: 100vh;
    height: 100%;
    background: $color-graphite;
    .background-number{
        color: $color-darkgraphite;
    }

    .text-section{
        margin-top: 5rem;
        color: white;
    }

    h2{
        color: $color-yellow;
    }
}
   
.yellow-background{
    margin: 0;
    padding: 0rem 0.5rem 0rem 0.5rem;
    display: inline;
    background-color: $color-yellow;
}

.graphite-bold-text{
    margin: 0;
    display: inline;
    color: $color-yellow;
    font-weight: 600;
}

.background-number{
    margin-left: -15rem;
    font-size: 30rem;
    position: absolute;
    color: $color-darkgrey;
    font-weight: 300;
    overflow: hidden;
    z-index: -1;
}

.contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    #contactForm{
        grid-column: 1;
    }
    .contact-social{
        grid-column: 2;      
        
    }
}

.contact-social{
        display: flex;
        align-items: center;
        align-self: center;
        flex-direction: column;
    p{
        font-size: 11pt;
        margin: 0.5rem;
    }
}

.footer{
    display: flex;
    align-items: center;
    flex-flow: column;
    margin-top: 3rem;
    margin-bottom: 3rem;
    h3{
        margin: 0;
    }
    p{
        color: $color-lightgraphite;
        font-size: 9pt;
        margin: 0;
    }
}

@import 'styles-768';