@import url('link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,800" rel="stylesheet">');
/* Icon 1 */
#hamburger {
  display: none;
  float: right;
  width: 30px;
  position: relative;
  margin: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  #hamburger {
    z-index: 1;
    display: block;
  }
}
#hamburger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #2B2B2B;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

/* Icon 3 */
#hamburger span:nth-child(1) {
  top: 0px;
}

#hamburger span:nth-child(2), #hamburger span:nth-child(3) {
  top: 10px;
}

#hamburger span:nth-child(4) {
  top: 20px;
}

#hamburger.open span:nth-child(1) {
  top: 10px;
  width: 0%;
  left: 50%;
}

#hamburger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#hamburger.open span:nth-child(4) {
  top: 10px;
  width: 0%;
  left: 50%;
}

body {
  background-color: #EDEDED;
  color: #2B2B2B;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  margin: 0;
}

h1 {
  margin: 0;
  font-size: 4rem;
  font-weight: 600;
}

h2 {
  margin: 0;
  font-size: 4rem;
  font-weight: 400;
}

p {
  margin: 1rem, 0, 0, 0;
  font-weight: 300;
  max-width: 50rem;
}

a {
  color: #2B2B2B;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
}

a:hover {
  font-weight: 800;
  transition: 0.2s;
}

.container {
  display: grid;
  grid-template-areas: ". nav   ." ". intro ." ". portfolio .";
  grid-template-columns: 5% 1fr 5%;
}

#logotype {
  font-weight: 400;
  display: inline;
  position: relative;
  z-index: 1;
  font-size: 12px;
  background: #2B2B2B;
  color: #EDEDED;
  padding: 0.3rem 0.8rem 0.3rem 0.8rem;
}

nav {
  grid-area: nav;
  margin-top: 1rem;
  height: auto;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav li {
  padding-right: 2rem;
  display: inline;
}
nav #nav-menu-items {
  display: block;
  margin: 0;
  position: relative;
}
nav .nav-menu {
  float: right;
}
nav .social-group {
  display: inline;
  margin: 0;
}
nav .social-group a {
  margin-right: 0.5rem;
}
nav .social-group img {
  width: 1rem;
}

.text-section {
  grid-column-start: 2;
}

#portfolio {
  grid-area: portfolio;
  display: grid;
  grid-template-columns: 5% 1fr 5%;
  height: 100vh;
}

#intro {
  grid-area: intro;
  display: grid;
  grid-template-columns: 5% 1fr 5%;
  height: 100vh;
}
#intro .text-section {
  margin-top: 10rem;
}

.yellow-background {
  margin: 0;
  padding: 0rem 0.5rem 0rem 0.5rem;
  display: inline;
  background-color: #F6DC30;
}

.graphite-bold-text {
  margin: 0;
  display: inline;
  color: #F6DC30;
  font-weight: 600;
}

.background-number {
  margin-left: -15rem;
  font-size: 30rem;
  position: absolute;
  color: #E6E6E6;
  font-weight: 300;
  overflow: hidden;
  z-index: -1;
}

@media screen and (max-width: 768px) {
  .header {
    width: 100%;
  }

  #logotype .open-menu {
    z-index: 1;
    color: white;
    position: relative;
  }

  nav .nav-menu {
    grid-column: auto;
    float: none;
    display: inline;
  }
  nav .nav-menu ul li {
    display: block;
    margin-top: 0.5rem;
    padding: 0;
  }
  nav .nav-menu #nav-menu-items {
    display: grid;
    margin: 0;
    opacity: 0;
    grid-template-rows: repeat(3, 1fr);
    background-color: #E6E6E6;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    font-size: 2rem;
    transition: opacity 0.2s ease-in;
  }
  nav .nav-menu #nav-menu-items ul {
    grid-row-start: 2;
    text-align: center;
  }

  #intro .intro-text {
    margin-top: 3rem;
  }

  .text-section {
    margin-top: 3rem;
  }
}

/*# sourceMappingURL=styles.css.map */
